set NERDTree

let mapleader = ' '

imap kj <Esc>
set timeoutlen=1000

set number
set relativenumber

nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz
nnoremap n nzzzv
nnoremap N Nzzzv

nnoremap <leader>y "+y
vnoremap <leader>y "+y
nnoremap <leader>Y "+y

nmap - <Action>(ActivateProjectToolWindow)
map <leader>gs <Action>(ActivateCommitToolWindow)
map = <Action>(Diff.ShowDiff)

map <leader>vca <Action>(ShowIntentionActions)
map <leader>vd <Action>(ShowErrorDescription)
map <leader>vrn <Action>(RenameElement)
map <C-/> <Action>(CommentByLineComment)
nmap gh <Action>(QuickJavaDoc)
